# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will download a prebuilt Ruby version, install dependencies and run tests with Rake
# For more information see: https://github.com/marketplace/actions/setup-ruby-jruby-and-truffleruby

name: holdem-qa

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  rubocop:

    runs-on: ubuntu-latest
    container:
    image: ruby:3.0.1

    steps:
      - uses: actions/checkout@v2
      - name: setup bundle
        run: bundle install
      - name: run rubocop
        run: bundle exec rubocop
